<header class="header">
  <div class="container header__container">
      <a href="./#home" class="logo">
          Beta<span class="logo__dot">-</span>Home
      </a>

      <nav class="nav" id="nav">
          <ul class="nav__list">
              <li class="nav__item"><a href="./#home" class="nav__link">Главная</a></li>
              <li class="nav__item"><a href="./#about" class="nav__link">О нас</a></li>
              <li class="nav__item"><a href="./#services" class="nav__link">Услуги</a></li>
              <li class="nav__item"><a href="./#programs" class="nav__link">Программы</a></li>
              <li class="nav__item"><a href="./#blog" class="nav__link">Блог</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary header__btn">Начать</a>
          <button class="burger" id="burger" aria-label="Menu">
              <span></span>
          </button>
      </div>
  </div>
</header>